@charset "UTF-8";


*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #253632;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: #fff;
    width: 250px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);

    transform: translate(-50%, -50%);
    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;

}

section#login > div#imagem{
    background: url(../imagens/pexels-packermann-1666021.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

form > div.campo {
    background-color: #253632;
    border: 2px solid #253632;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}


div#formulario > h1 {
    text-align: center;
    font-variant: small-caps;
}

div#formulario > h1 > p {
    font-size: 0.8em;
}

div.campo > label {
    display: none;
}
div.campo > i{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
div.campo > input {
    background-color: #fff;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;

    border: 0px;
    border-radius: 8px;
    padding: 4px;

    transform: translateY(-14px);
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: #3c8f7b;
    color: white;
    cursor: pointer;
}
form > input[type=submit]:hover {
    background-color: #253632;
}

form > a.botao {
    display: block;
    text-align: center;
    background-color: #ffffff;
    color: #253632;
    border: 1px solid #65f0cf;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding-top: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #3c8f7b;
    color:rgb(255, 255, 255);

}

form > a.botao > i {
    font-size: 0.8em;
}
